html
  head
    title= title
    style
      include ./css/styles.css
  body
    .container
      h1(class='text-center')= message
      hr
      .row
        input(class='col-4', type='text', placeholder='Player Name')
        input(class='col-4', type='text', placeholder='Character Name')
        input(class='col-4', type='text', placeholder='Character Class')
      .row
        input(class='col-4', type='text', placeholder='Age')
        input(class='col-4', type='text', placeholder='Race')
        input(class='col-2', type='text', placeholder='Height')
        input(class='col-2', type='text', placeholder='Weight')
    .container
      hr
      .row
        input(class='col-2', type='text', placeholder='STR')
        input(class='col-2', type='text', placeholder='DEX')
        input(class='col-2', type='text', placeholder='CON')
        input(class='col-2', type='text', placeholder='WIS')
        input(class='col-2', type='text', placeholder='INT')
        input(class='col-2', type='text', placeholder='CHA')
