html
  head
    title= title
    style
      include ./css/styles.css
  body
    h1= message
    hr
    p this is where we can add our content.
    p it's just a starter area, we can do what we want with it.
